@font-face{
    font-family: RobotoCondensed-Bold;
    src:url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face{
    font-family: Roboto-Light;
    src:url(../fonts/Roboto-Light.ttf);
}
.header-wrapper{
    width: 100%;
/*
    display: flex;
    justify-content: space-between;*/
}
.header-wrapper .logo{
    position: absolute;
    z-index: 999;
    left: 29.4663px;
    top: 21.2494px;
}
.header-wrapper .menu{
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 21.2494px;
}
.header-wrapper .menu button{
    background-color: transparent;
    border: none;
}
.header-wrapper .menu button:active{
    background-color: red;
}
.logo img{
/*    background-color: black;*/
    width: 300px;
    height: 125px;
}
.menu{
    width: 60px;
    height: 50px;
}
.menu .menubar1{
    width: 45px;
    height: 6px;
}
.menu .menubar2{
    width: 40px;
    height: 6px;
  }
.menu .menubar3{
    width: 45px;
    height: 6px;
  }

.customPrevBtn {
    cursor: pointer;
    width: 100px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    z-index: 999;
    display: flex;
    top: 50%;
    bottom: 50%;
    border-radius: 0px 100px 100px 0px;
}

.customNextBtn {
    cursor: pointer;
    width: 100px;
    height: 200px;
    display: flex;
    transform: translate(1245px);
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 999;
    align-items: center;
    border-radius: 100px 0px 0px 100px;

}
/*.item img{
    height: 100vh;
}
*/
.time-heading-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.time-heading{
    position:absolute;
    z-index: 999;
    bottom: -60px;
    right: 30px;
}
.time-heading ul li time{
    float: right;
    color: white;
    font-family: RobotoCondensed-Bold;
    font-size: 35pt;
}
.time-heading ul li h1{
    float: right;
    color: white;
    font-family: Roboto-Light;
    font-size: 35pt;
}
