@font-face{
    font-family: RobotoCondensed-Bold;
    src:url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face{
    font-family: Roboto-Light;
    src:url(../fonts/Roboto-Light.ttf);
}

.header-wrapper{
    width: 100%;
}
.header-wrapper .logo{
    position: absolute;
    z-index: 999;
    left: 0px;
    top: 15px;
}
.header-wrapper .menu{
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 15px;
}
.header-wrapper .menu .nav-open{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header-wrapper .menu .nav-exit{
    display: none;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    width: 40px;
    height: 40px;
}
.header-wrapper .menu .nav-exit div:first-child{
    width: 40px;
    height: 40px;
    position: absolute;
}
.header-wrapper .menu .nav-exit div:nth-child(2){
    width: 40px;
    height: 40px;
}
.header-wrapper .menu .nav-exit img {
    widows: 40px;
    height: 40px;
}
.logo svg{
    width: 300px;
    height: 125px;
}
.logo .cls-1{
    fill:#ffffff;
}
.menu{
    width: 60px;
    height: 50px;
}
.menu .menubar1{
    width: 45px;
    height: 6px;
}
.menu .menubar2{
    width: 40px;
    height: 6px;
  }
.menu .menubar3{
    width: 45px;
    height: 6px;
  }


.item ul li time{
    color: white;
    font-family: RobotoCondensed-Bold;
    font-size: 35pt;
    position: absolute;
    top: 84%;
    left: 87%;
}
.item ul li h1{
    color: white;
    font-family: Roboto-Light;
    font-size: 35pt;
    position: absolute;
    top: 90%;
    left: 61%;
    white-space: nowrap;
}
.item ul li img{
    float: right;
    width: 100%;
    height: 100%;40
}


.header-wrapper .menu .nav-exit{
    display: none;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    width: 40px;
    height: 40px;
}
.header-wrapper .menu .nav-exit div:first-child{
    width: 40px;
    height: 40px;
    position: absolute;
}
.header-wrapper .menu .nav-exit div:nth-child(2){
    width: 40px;
    height: 40px;
}
.header-wrapper .menu .nav-exit img {
    widows: 40px;
    height: 40px;
}

.navigation-bar{
    display: none;
    line-height: 70px;
    text-align: left;
    position: absolute;
    z-index: 999;
    top: 270px;
    left: 310px;
}
.navigation-bar ul li button{
    font-family: RobotoCondensed-Bold;
    color: black;
    text-decoration: none;
    font-size: 40pt;
    border: 0px;
    padding: 0px;
    margin:0px;
    background-color: transparent;
}

button:active { 
    outline: none 
}
/*  Section services start */
.services{
    width: 100%;
}
.services .heading{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
    font-size: 50.15px;
    font-family: RobotoCondensed-Bold;
}

.services-bar {
    margin: auto;
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services .services-bar div{
    background-color: #EBE8DE;
    width: 283px;
    height: 280px;
    margin-bottom: 20px;
}
.services .services-bar  svg{
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
.services .services-bar h2{
    text-align: center;
    font-size: 40px;
}
.services .services-bar a{
    text-decoration: none;
    color: black;
}

.bus-animation-wrapper{
    margin-top: 50px;
}
.mountains{
    background-image: url(../image/mountains.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative!important;
}
.trees{ 
    position: absolute!important;
    text-align: center!important;
    bottom: 0px;
}
.trees img{
    width: 70%;
    vertical-align: middle;
    border-style: none;
}
.road{
    background-image: url(../image/road.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 5px;
    position: relative!important;
    top: 40px;
}
.bus{
    animation: drive 7s infinite;
    position: absolute!important;
    width: 30%;
    right: 0px;
    bottom: -135px;
}
.bus img{
    vertical-align: middle;
    border-style: none;
}
@keyframes drive {
    from { right: 0px; }
    to {right: 120%;}
}
/*Section services end */
